<div class="container">
    <div class="container-inner">
        <div class="home-top">
            <!-- <div class="kushinada-image"></div> -->
            <img src="/assets/images/kushinada.png" class="kushinada-image">
        </div>
        <p>Welcome! This is a fan-made website for the mobile game <a href="https://play.google.com/store/apps/details?id=jp.gungho.padEN&amp;hl=en">Puzzle &amp; Dragons</a> by GungHo Online Entertainment. </p>
        <p>GungHo does not support nor endorse this site. Some information presented on this site may be inaccurate or incomplete.</p>
        <p>The portrait of Kushinadahime and related images are copyright GungHo Online Entertainment.</p>
        <p>Special thanks to <a href="https://github.com/Mapaler/" target="_">Mapaler</a>, Cody Watts and kiootic for their contributions to the open source PAD community, and Allieta for the amazing <a href="https://ilmina.com/" target="_">ilmina.com</a>.</p>
        <p>This site requires JavaScript and is only supported on modern browsers.</p>
        <!-- <p>You can leave a message for the administrative team on <a href="https://discord.gg/MgueTH3">discord</a>.</p>
        <p>For a general guide of how to use the site, click <a href="/#/GUIDE">here</a>.</p> -->
        <p>If you have any feedback or complaints send them to me at <a href="mailto:kushinada.web@gmail.com">kushinada.web@gmail.com</a>.</p>
        <p>Version {{ version }}</p>
    </div>
</div>