.home-top {
    margin: 20px 0;
    text-align: center;
}

.kushinada-image {
    height: 319px;
    width: 488px;
    margin: auto;

    @media screen and (max-width: 488px) {
        max-width: 100%;
        height: auto;
    }
}